.container-custom {
  @media (min-width: 1080px) {
    width: 1080px !important;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 1080px) {
    width: 100% !important;
    padding: 0 5%;
  }
}
