@import 'layout';
@import 'header';
@import 'reponsive';
@import 'footer';
@import 'home-master-predic';
@import 'text';
@import 'loading';

@font-face {
    font-family: 'MyCustomFontNotoSansThai';
    src: url('../fonts/NotoSansThai-VariableFont_wdth\,wght.ttf') format('woff2'),
        url('../fonts/NotoSansThai-VariableFont_wdth\,wght.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sukhumvitMedium';
    src: url('../fonts/SukhumvitSet-Medium.ttf') format('woff2'),
        url('../fonts/SukhumvitSet-Medium.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sukhumvitThin';
    src: url('../fonts/SukhumvitSet-Thin.ttf') format('woff2'),
        url('../fonts/SukhumvitSet-Thin.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sukhumvitText';
    src: url('../fonts/SukhumvitSet-Text.ttf') format('woff2'),
        url('../fonts/SukhumvitSet-Text.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('woff2'),
        url('../fonts/Poppins-SemiBold.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('woff2'),
        url('../fonts/Poppins-Medium.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansThai-Medium';
    src: url('../fonts/NotoSansThai-Medium.ttf') format('woff2'),
        url('../fonts/NotoSansThai-Medium.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansThai-SemiBold';
    src: url('../fonts/NotoSansThai-SemiBold.ttf') format('woff2'),
        url('../fonts/NotoSansThai-SemiBold.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    // background-color: #212227 !important;
    font-size: 16px;
    
}


body, p {
    font-family: 'NotoSansThai-Medium', sans-serif !important;
    font-weight: 500;
    
}

a {
    font-family: 'NotoSansThai-Medium', sans-serif !important;
    font-weight: 600; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'NotoSansThai-SemiBold', sans-serif !important;
    font-weight: 600; 
}

.disabled {
    pointer-events: none; //This makes it not clickable
    opacity: 0.6; //This grays it out to look disabled
}